body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center align text */
}

#color-container {
    font-size: 33px; /* Adjust font size as needed */
    transition: background-color 2s ease; /* Transition for smooth color change */
}
